@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>As an employee you should be able to view and make changes to farmer details</p>
<p>As a farmer you should be able to view and make changes to your product details</p>
<p>Be aware the certain restrictions have been placed onto each type of person using this website.</p>
